---
layout: page
title: 首页
---
<div class="page page-index">
  {% for post in site.posts  -%}
    {%- capture post_year %}{{ post.date | date: "%Y" }}{% endcapture -%}
    {%- capture post_previous_year %}{{ post.previous.date | date: "%Y" }}{% endcapture -%}
    {%- capture post_next_year %}{{ post.next.date | date: "%Y" }}{% endcapture -%}
    {%- if forloop.first or post_next_year != post_year -%}
    <div class="list-post">
      <h2 id="{{post_year}}">{{post_year}}</h2>
      <ul>
    {%- endif %}
        <li>
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABfUlEQVRIie2Vvy4EURSHvzP3ZjZCbC8SjUKyCBqewAtIqPwJ4gFkgoqEhqi0/hSympXwGjRCyIZiGxL63azITlxHwSw2WWKGiq86J3fu97tzmiNm/34G1XWgme9RAgncSOMWAAcPbca5HZQB4MiJmWK44caLKefljq5Hzau8R2AT6DPqtgG8mPKIdLVS6Rdl93GkaVZgF+gHsAnkNeixChM2V/YUxhRu4OUPSgmsxahw1kwDJwqTCncCnTZXXrMgwess0/U9deQqQbUbarh2MBi1Nldee3rX/1MXyefzfmhSK8AooIpmUy5czGQy4U8E2IrxlwXmqonIfMX4AAsAG3uH5wpdsV4PF1aQsdoDDxmPAkBXUemOE4DouZxeFW6Blpqj296O9tZY0hqsollB5j8GazaqE48o5cLFivERZBRA0az/FC69fZZsRLHu/S3k7LIwo0LcpfMZJYRATq8KxV+QRxSTbrSvSHu/KAeSb7SvKHoIAe9W30/KEQ2eARYAhceey6GZAAAAAElFTkSuQmCC">
          <div style="flex-grow: 1;">
            <div class="title">
              <a href="{{ site.baseurl | append: post.url }}" class="hover-underline">{{ post.title }}</a>
            </div>
            <span class="date">{{ post.date | date: "%Y/%m/%d" }}</span>
          </div>
          <div class="categories">
            {% for categorie in post.categories -%}
            <a href="{{site.baseurl}}/pages/categories.html#{{ categorie }}" class="hover-underline">{{ categorie }}</a>
            {%- endfor %}
          </div>
        </li>
    {%- if forloop.last or post_previous_year != post_year %}
      </ul>
    </div>
    {%- endif %}
  {%- endfor %}
</div>
