.list-post > h2 {
  font-size: 15px;
  font-weight: bold;
  padding: 12px 0;
}
.list-post ul {
  box-sizing: border-box;
  padding-left: 15px;
}
.list-post li {
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 20px;
    background: #fff;
    border-radius: 15px;
    transition: all 0.5s;
    height: 100px;
}
.list-post li:hover{
    transform: scale(1.038);
    box-shadow: 0px 2px 5px rgb(0 0 0 / 5%);
}
.list-post li .date {
  color: #666666;
  font-size: 14px;
  flex-shrink: 0;
  margin-right: 10px;
}
.list-post li .title {
  width: auto;
  flex-grow: 1;
  padding: 4px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-post li .title a {
  font-size: 17px;
  font-weight: 600;
}
.list-post li .itemcontent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 95%;
}
.list-post li .excerpt {
    font-size: 14px;
    color: #878787;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    word-break: break-all;
    margin: 5px 0;
}

.list-post li .categories {
  flex-shrink: 0;
  padding: 3px 0;
  margin-left: 10px;
}
.list-post li .categories a {
  font-size: 12px;
  color: #666666;
  margin-left: 8px;
}
.list-post li img{
  margin: 0 20px 0 0;
  height: 100%;
  background: #fff;
  border-radius: 4px;
}
.list-category h2 {
  font-size: 15px;
  font-weight: bold;
  padding: 12px 0;
}
.list-category div {
  padding: 8px 0 8px 10px;
}
.list-category div a {
    color: rgba(44,63,81,0.5);
    background: #ebeeef;
    border-radius: 3px;
    padding: 3px 7px;
    border-bottom: none;
    margin: 2px;
    display: -webkit-inline-box;
    display: inline-block;
    margin: 5px;
}

.page-search #search-input {
  text-align: center;
  font-size: 14px;
  border-bottom: 2px solid #eaeaea;
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
}
.page-search h1 {
  padding: 12px 0;
}
.page-search h1 span {
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}
.page-search h1 img {
  display: inline-block;
  width: 21px;
  margin-left: 8px;
  vertical-align: middle;
  opacity: 0;
}
.page.page-index{
    flex: 1 0 auto;
}
.page.page-categories{
    flex: 1 0 auto;
}
.page.page-search{
    flex: 1 0 auto;
}
.page-search .list-search li {
        /* list-style: disc; */
    margin-left: 15px;
    margin-bottom: 20px;
    background: #fff;
    padding: 15px 20px;
    border-radius: 20px;
    transition: all 0.5s;
}
.page-search .list-search li:hover{
    transform: scale(1.038);
    box-shadow: 0px 2px 5px rgb(0 0 0 / 5%);
}
.page-search .list-search a {
  display: block;
/*   border-bottom: 1px dashed #ccc; */
}
.page-search .list-search .title {
  display: inline-block;
  word-break: break-all;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 1px;
  background: linear-gradient(180deg, transparent 75%, RGBA(11,114,133,0.4) 0)!important;
}
.page-search .list-search .content {
  display: block;
  font-size: 14px;
  color: #5a5a5a;
  word-break: break-all;
  padding: 10px 0;
}
.page-search .list-search .hint {
  font-size: inherit;
  font-weight: bold;
  color: #ff7f7f;
}
@media screen and (max-width: 560px) {
  .list-post > h2 {
    padding: 10px 0;
  }
/*   .list-post li {
    padding: 6px 0;
  } */
  .list-post li .title a {
    font-size: 14px;
    font-weight: 600;
  }
  .list-post .categories {
    display: none;
  }
  .list-category h2 {
    padding: 10px 0;
  }
  .list-category div a {
    font-size: 14px;
  }
}
